$cprimary:#312d20;
$bctitle:#a2d2a8;
$cparrafo:#5b5d5d;
$cnav:azure;
$ccontainer:rgb(128, 122, 122);
$valor:30px;
$ancho: 100%;
$alto:100%;
$anchopix: 100px;



 @mixin title {
     color: $cprimary;
     text-align: center;
     word-spacing: 5px;
     background-color: $bctitle;
     border-radius: 20px 40px;   
 }


 @mixin flex {
     display: flex;
     justify-content: center;
 }

 @mixin flexDos {
     display: flex;
     flex-direction: row;
 }